body {
    background-image: linear-gradient(to bottom,  rgba(163,213,255,1) 11.3%, rgba(4,137,137,1) 86.7% );
    font-family: Arial, sans-serif;
    margin: 20px;
}
#nav-bar {
    display: flex;

}
.nav-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #739fb4;
    margin: -10px;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    animation: moveBackground 20s linear infinite;
    background-image: url(assets/computer\ background.jpg);
    background-image min-width: 250%;

}
#hero-header {
    margin: 2px;
    color: white;
}
#hero-button {
    background-color: rgba(4,137,137,1);
    color: white;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: rgba(163,213,255,1);
    cursor: pointer;
}
#hero-image {
    border: 5px solid rgba(4,137,137,1);
}
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#contact-title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.contact-item {
    height: 20px;
    width: 350px;
    margin: 20px;
}
#contact-text {
    height: 100px;
}
#contact-button {
    background-color: black;
    color: white;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(4,137,137,1);
    color: white;
    padding: 20px;
}
.social-links {
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@media (max-width: 600px) {
  
    .nav-item {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #home {
        height: auto;
        padding: 20px;
    }
    #hero-image {
        width: 150px;
        height: 150px;
    }
    #contact-form {
        width: 90%;
    }
}